<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Ticket Management System
			{% endblock %}
		</title>

		{# Remove the CDN - you're building CSS now! #}
		{# <script src="https://cdn.tailwindcss.com"></script> #}

		{# Your compiled Tailwind CSS #}
		<link
		rel="stylesheet" href="/public/css/app.css"> {# Custom CSS (if you have additional styles) #}
		<link rel="stylesheet" href="/public/css/styles.css"> {% block head %}{% endblock %}



		</head>
		<body class="bg-gray-50"> {% block content %}{% endblock %}

			{# Global Scripts #}
			<script>
				window.APP_CONFIG = {
basePath: "{{ base_path }}"
};

// Helper function to generate URLs
window.url = function (path) {
return `${
window.APP_CONFIG.basePath
}/${
path.replace(/^\//, '')
}`;
};
			</script>


			<script src="/public/js/utils/showToast.js"></script>

			<script src="/public/js/utils/ui.js"></script>

			<script src="/public/js/utils/validation.js"></script>
			<script src="/public/js/utils/auth.js"></script>
			<script src="/public/js/utils/tickets.js"></script>
			<script src="/public/js/utils/dashboard.js"></script>


			{% block scripts %}{% endblock %}

			{% include 'components/footer.twig' %}
		</body>
	</html>
